%h1
  = @house.title
%p
  = @house.description
%p
  = @house.type_of_realty
%p
  = @house.district
%p
  = @house.street
%p
  = @house.room_quantity

= link_to "Home", root_path
= link_to "Edit", edit_house_path
