= provide(:title, "Недвижимость")
%h1
  = @house.title
%p
  = @house.description
%p
  = @house.district
%p
  = @house.street
%p
  = @house.room_quantity

= image_tag @house.image.url

%div.btn.btn-group
  = link_to " На главную", root_path, class: "btn btn-default fa fa-home"
  - if user_signed_in?
    = link_to " Редактировать", edit_house_path, class: "btn btn-primary fa fa-pencil-square-o"
    = link_to " Удалить", house_path(@house), method: :delete, class: "btn btn-danger fa fa-trash"
