= provide(:title, "Недвижимость")
%h1
  = @house.title
%p
  = @house.description
%p
  = @house.district
%p
  = @house.street
%p
  = @house.room_quantity

= link_to "Home", root_path
= link_to "Edit", edit_house_path
= link_to "Delete", house_path(@house), method: :delete
